<!DOCTYPE html>
<html lang="en" ng-app="board">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Javascript Post It</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="BoardController as board">

  <div id="wrapper">
    <header>
      <h2>Post It Board</h2>
    </header>

    <section>
      <div class="container">
        <div class="post-it" ng-repeat="post_it in board.post_its" ng-style="{'background-color': '#' + post_it.color}" ng-class="{'post-it-interact': !post_it.editable}"  ng-mouseover="post_it.showOptions()" ng-mouseleave="post_it.hideOptions()">
          <p class="post-it-text" ng-attr-contenteditable="{{post_it.editable}}">{{post_it.text}}</p>
          <div class="post-it-options" ng-show="post_it.options_shown">
            <i class="material-icons post-it-edit" ng-click="post_it.makeEditable()">&#xE254;</i>
            <i class="material-icons post-it-color" ng-click="post_it.showColorPicker()">&#xE3B7;</i>
            <i class="material-icons post-it-delete" ng-click="board.deletePostIt(post_it)">&#xE872;</i>
          </div>
        </div>
        <input class="jscolor" value="EEEE00" ng-change="board.update(this.jscolor)" ng-model="jscolor">
        <button class="fab-btn" ng-click="board.addPostIt(board)">+</button>
      </div>
    </section>  
  </div>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
  <script src="script_interact.js"></script>
  <script src="app.js"></script>
</body>
</html>
