body {
  background-color: #DDD;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header {
  background-color: #00C;
  padding: 20px;
  text-align: center;
}

header h2 {
  color: #FFF;
  display: inline-block;
  margin: 0;
}

header button {
  float: left;
}

.container {
  padding: 20px;
}

.fab-btn {
  border: none;
  font-size: 2em;
  color: white;
  background-color: #F00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
       -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
            box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.post-it {
  position: absolute;
  min-width: 200px;
  min-height: 150px;
  width: 300px;
  height: 250px;
  padding: 20px;
  padding-top: 40px;
  background-color: #EE0;
  text-align: center;
  overflow: hidden;
  /* Make resizing smoother */
  box-sizing: border-box;
  cursor: default;
}

.post-it-text {
  /* Prevent text from horizontal overflow */
  word-wrap: break-word;
}

.post-it-text[contenteditable="true"] {
  background-color: #FFF;
}

.post-it-options {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #555;
}

.post-it-options .material-icons {
  cursor: default;
}

.jscolor {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
